@use './module/variables' as *;
@use './module/functions' as *;
@use './module/mixins' as *;
@use './module/reset' as *;
@use './module/font' as *;

body {
  font-family: $font-satoshi;
  font-size: 15px;
  line-height: 1.247;
  font-weight: 400;
  color: $color-black;
}

h1,
h2 {
  font-family: $font-integral-cf;
  font-weight: 700;
}

.btn {
  display: inline-block;
  background-color: $color-black;
  color: $color-white!important;
  font-weight: 500;
  line-height: 1.375;
  padding: 15px 67.5px;
  border-radius: 62px;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    background-color: $color-gray-1;
  }
  @media (min-width: 550px) and (max-width: 767px) {
    width: 30%!important;
  }
  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}
.sortable-handler {
  touch-action: none;
}

.inner {
  max-width: 1240px;
  margin: 0px auto;
  @media (min-width: 1280px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 1279px) and (min-width:768px) {
    padding-left: 32px;
    padding-right:32px;
  }
  @media (max-width: 768px) {
    padding-left: 4.102564102%;
    padding-right: 4.102564102%;
  }
}
.signup {
  padding: 11px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #FFFFFF;
  @media (max-width: 768px) {
      padding: 9px 0px; 
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &__text {
    line-height: 1.35714285714;
    font-size: 14px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__link {
    display: inline-block;
    color: $color-white;
    text-decoration: underline!important;
    font-weight: 500;

    &:hover {
      opacity: 0.8;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 20px;

    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.header {
  padding-top:24px;
  padding-bottom: 24px;
  @include mqMax($md) {
    padding: calc-percent(30, $bp) calc-percent(24, $bp);
  }

  @include mqMax($xs) {
    padding: calc-percent(20, $xsi) calc-percent(16, $xsi);
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      align-items: self-start;
    }
  }

  &__menu-mobile {
    display: none;
    background: none;
    border: none;
    padding: 0;
    margin-right: calc-percent(16, $container-mb);
    cursor: pointer;
    @media (max-width: 768px) {
      display: block;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__logo {
    font-family: $font-integral-cf;
    font-weight: 700;
    font-size: 32px;
    line-height: 0.6875;
    @media (max-width: 768px) {
      font-size: 25px;
      line-height: 0.72;
    }
  }
  &__menu {
    margin-top: 8px;
    margin-left: calc-percent(40, $container-pc);
    display: flex;
    list-style: none;
    gap: 24px;
    @media (max-width: 768px) {
      display: none;
      margin-top: 0px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      gap: 7.476635514%;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 4px;
      transition: color 0.3s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &-link {
      text-decoration: none;
      font-size: 16px;
      line-height: 1.375;
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 62px;
    background-color: $color-gray-2;
    padding: calc-percent(12, $container-pc) calc-percent(16, $container-pc);
    margin: 0 calc-percent(40, $container-pc);
    @media (max-width: 768px) {
      display: none;
    }
    &-icon {
      height: 24px;
    }

    &-input {
      text-overflow: ellipsis;
      background-color: $color-gray-2;
      border: none;
      font-size: 16px;
      line-height: 1.375;
      padding: 0;
      line-height: 1;
      flex: 1;
      font-family: $font-satoshi;
      min-width: 0;
      margin-left: calc-percent(12, 575);

      &::placeholder {
        color: $color-black-opacity-4;
      }

      &:focus {
        outline: none;
      }
    }

    &-mobile {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__actions-redirect {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 14px;
    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  &__cart,
  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.7;
    }
  }
}

.baner {
  background-color: #f2f0f1;
  .inner {
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__background {
    padding: 103px 0px 116px;
    max-width: $lg;
    margin: 0 auto;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    @media (max-width: 768px) {
      padding: 0px 4.102564102%;
      padding-top: 40px;
      background-image: none;
    }
    &-mobile {
      background-position: bottom;
      background-repeat: no-repeat;
      display: none;
      width: 100%;
      max-width: $xs;
      margin: 0 auto;
      aspect-ratio: 390/448;
      background-image: url("../images/bg-sp.png");
      background-size: contain;
      @media (max-width: 768px) {
        display: block;
        margin-top: -6px;
        position: relative;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-size:  64px;
    line-height: 1.0;
    margin-bottom: 32px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 1.05882352941;
    }
  }

  &__description {
    margin-bottom: 32px;
    color: #00000099;
    line-height: 1.375;
    max-width: calc-percent(545, $container-pc);
    font-size:  16px;
    @media (max-width: 768px) {
      font-size: 14px;
      max-width: 100%;
      margin-bottom: 24px;
      line-height: 1.42857142857;
    }
  }

  .btn {
    margin-bottom: 48px;
    padding: 15px calc-percent(67.5, $container-pc);
    @media (max-width: 768px) {
      margin-bottom: 22px;
    }
  }

  &__wrap-info{
    display: flex;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__divider {
    width: 1px;
    background-color: $color-black-opacity-1;
    margin: 0 calc-percent(32, $container-pc);;
    @media (max-width: 768px) {
      &:nth-child(4) {
        display: none;
      }
      margin: 0 calc-percent(27.5 , 358);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    &-number {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.35;
      @media (max-width: 768px) {
        line-height: 1.5;
        font-size: 24px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1.375;
      color: $color-black-opacity-6;
      margin-top: -2px;
      @media (max-width: 768px) {
        font-size: 12px;
        margin-top: -6px;
        line-height: 1.83333333333;
      }
    }

    &:nth-child(5) {
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
        margin-top: 12px;
      }
    }
  }

  &__star {
    position: absolute;
    z-index: 1;

    &-desktop {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }

    &-mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }

    &--1 {
      width: calc-percent(104, 1440);
      top: calc-percent(86, 663);
      right: calc-percent(81, 1440);
      @media (max-width: 768px) {
        width: calc-percent(76, $xsi);
        top: calc-percent(40, 448);
        right: calc-percent(21, $xsi);
      }
    }

    &--2 {
      width: calc-percent(56, 1440);
      bottom: calc-percent(310, 663);
      right: calc-percent(634, 1440);
      @media (max-width: 768px) {
        width: calc-percent(44, $xsi);
        top: calc-percent(137, 448);
        left: calc-percent(27, $xsi);
        right: 0;
      }
    }
  }
}
.brands {
  background-color: $color-black;
  padding: 44px 0px;
  @media (max-width: 768px) {
    padding: 39px 0px;

  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      justify-content: center;
  
    }

    &-mobile {
      display: none;
      @media (max-width: 768px) {
        display: flex;
        padding: 0 calc-percent(32 * 1.5, $bp - $padding-x-tl * 2);
        margin-top: 30px;
    
      }

    }
  }

  &__item {
    transition: opacity 0.3s ease;
    margin: 0 calc-percent(24, $lgi);
    @media (max-width: 768px) {
      margin: 0 calc-percent(25, $bp - $padding-x-tl * 2);
  
    }


    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 768px) {
      &:nth-child(3) {
        margin-right: 0;
      }

      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
.products {
  .inner {
    @media (max-width: 768px) {
      padding-right: 0;
    }
  }
  &__border {
    padding-top: 64px;
    border-top: 1px solid #0000001A;
    @media (max-width: 768px) {
      margin-top: 0px;
      padding-top: 40px;
      margin-left: 4.102564102%;
      margin-right: 4.102564102%;
    }
  }
  &__stat-text {
    font-size: 14px;
    line-height: 1.35714285714;
    small {
      color: #00000099;
    }
    @media (min-width: 1240px) {
      margin-left: 13px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      margin-left: 4.406779661%
    }
    @media (max-width: 768px) {
      font-size: 12px!important;
      line-height: 1.33333333333;
    }
  }
  &__price-discount {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333333333;
    color: #00000066;
    text-decoration: line-through;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 1.35;
    }
  }
  &__price-percent {
    display: flex;
    align-items: center;
    background-color: #FF33331A;
    padding: 6px 13px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333333333;
    color: #FF3333;
    border-radius: 62px;
    @media (max-width: 768px) {
      font-size: 10px;
      line-height: 1.0;
      padding: 3px 8px;
      height: 21px;
    }
  }
  &__stat-text {
    font-size: 14px;
    margin-left: 13px;
  }
  &__selling {
    padding-top: 55px;
    padding-bottom: 80px;
    @media (max-width: 768px) {
      padding-top: 32px;
      padding-bottom: 50px;
    }
    .products__list {
      margin-top: 0px;
    }
  }
  &__arrivals {
    padding-top: 72px;
    padding-bottom: 64px;
    @media (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 40px;
      border-bottom: unset;
    }
  }
  &__item {
    text-decoration: none;
    figure {
      img {
        display: block;
      }
    }
  }
  &__items-clothes {
    width: 25%;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: 50%;
    }
  }
  &__list {
    margin-top: 55px;
    display: flex;
    //gap: calc-percent(20, $container-pc);
    @media (max-width: 768px) {
      margin-top: 32px;
      //gap: calc-percent(16, $container-mb);
    }
  }
  &__name {
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: $font-satoshi;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.35;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 1.375;
      margin-top: 10px;
      margin-bottom: 4px;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      min-height: 50px;
    }
  }
  &_price {
    align-items: center;
    display: flex;
    margin-top: 8px;
    font-family: $font-satoshi;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333333333;
    gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      margin-top: 4px;
      font-size: 20px;
      line-height: 1.35;
    }
  }
  &__view-all {
    border: 1px solid #0000001A;
    font-family: $font-satoshi;
    font-weight: 500;
    font-size: 16px;
    padding-left: calc-percent(80, $container-pc);
    padding-right: calc-percent(80, $container-pc);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 62px;
    background-color: white;
    display: block;
    margin: 36px auto 0px auto;
    line-height: 1.375;
    @media (min-width: 550px) and (max-width: 767px) {
      width: 30%!important;
      margin-right: auto!important;
    }
    @media (max-width: 768px) {
      width: 95.897435898%;
      margin-top: 24px;
      font-size: 14px;
      line-height: 1.35714285714;
      margin-right: 4.102564102%;
    }
  }
}
.browes {
  &__item-first {
    max-width: 360px;
    background-image: url(/assets/images/Casual1.png);
    @media (min-width: 769px) {
      max-width: 260px;
    }
    @media (min-width: 1024px) {
      max-width: 360px;
    }
    @media (min-width: 1280px) {
      max-width: 407px;
    }
    @media (max-width: 650px) {
      max-width: 100%;
    }
  }
  &__item-second {
    max-width: 684px;
    background-image: url(/assets/images/Casual2.png);
  }
  &__item-thrid {
    max-width: 684px;
    background-image: url(/assets/images/Casual3.png);
  }
  &__item-fourth {
    max-width: 360px;
    background-image: url(/assets/images/Casual4.png);
    @media (min-width: 769px) {
      max-width: 260px;
    }
    @media (min-width: 1024px) {
      max-width: 360px;
    }
    @media (min-width: 1280px) {
      max-width: 407px;
    }
    @media (max-width: 650px) {
      max-width: 100%;
    }
  }
  &__bg {
    background-color: #F0F0F0;
    border-radius: 40px;
    padding: 70px calc-percent(64, $container-pc) 76px calc-percent(64, $container-pc);
    @media (max-width: 768px) {
      padding: 40px calc-percent(24, $container-mb) 27px;
    }
  }
  &__row {
    display: flex;
    gap: calc-percent(20, 1112);
    a {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.36111111111;
      padding: 25px 36px;
      width: 100%;
      border-radius: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 650px) {
        font-size: 24px;
        line-height: 1.36111111111;
        width: 100%;
        height: 190px;
        display: flex;
        flex-direction: column;
        padding: 16px 24px;
      }
    }
    @media (min-width: 769px) {
      height: 289px; 
    }
    @media (min-width: 651px) and (max-width: 768px) {
      height: 190px; 
    }
    @media (max-width: 650px) {
      font-size: 24px;
      line-height: 1.36111111111;
      gap: 16px;
      display: flex;
      flex-direction: column;
    }
    img {
      height: 100%;
    }
    &:first-of-type {
      margin-bottom: 20px;
      @media (max-width: 650px) {
        margin-bottom: 16px;
      }
    }
  }
  &__title {
    margin-bottom: 64px;
    @media (max-width: 768px) {
      margin-bottom: 28px;
    }
  }
}
.footer {
  margin-top: 80px;
  @media (max-width: 768px) {
    margin-top: 50px;
  }
  &__menu-items-list {
    @media (max-width: 768px) {
      padding-top: 24px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 35px;
    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }
  &__info-text {
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.57;
    color: #00000099;
    @media (max-width: 768px) {
      margin-top: 14px;
      line-height: 1.42857142857;
    }
  }
  &__info {
    margin-bottom: 15px;
    max-width: 248px;
    @media (max-width: 768px) {
      max-width: 100%;
      margin-bottom: 0px;
    }
  }
  &__logo {
    font-size: 33px;
    @media (max-width: 768px) {
      font-size: 29px;
    }
  }
  &__subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 20px;
    padding: 36px calc-percent(64, $container-pc);
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 32px calc-percent(24, $container-mb) 28px;
    }
  }
  &__subscribe-text {
    font-family: $font-integral-cf;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.125;
    color: $color-white;
    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 1.09375;
    }
    @media (min-width: 1240px) {
      width: calc-percent(551, 1112);
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 49.550359712%;
    }
  }
  &__email-input {
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    flex: 1;
    font-family: Satoshi, sans-serif;
    min-width: 0;
    margin-left: 12px;
    font-size: 16px;
    text-overflow: ellipsis;
    line-height: 1.375;
    &::placeholder {
      font-size: 16px;
      line-height: 1.375;
      color: #00000066;
      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 1.35714285714
      }
    }
  }
  &__first {
    position: relative;
  }
  &__first-background {
    background-color: #F0F0F0;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
  }
  &__second {
    padding-top: 50px;
    background-color: #F0F0F0;
    border-bottom: 1px solid #0000001A;
    @media (max-width: 768px) {
      padding-top: 32px;
      padding-bottom: 77px;
    }
  }
  &__email {
    max-height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 62px;
    background-color: #FFFFFF;
    padding: 12px 16px;
    @media (min-width: 769px) {
      width: calc-percent(349, 561);
    }
  }
  &__subscribe-button {
    margin-top: 14px;
    font-weight: 500;
    font-size: 16px;
    height: 46px;
    border-radius: 62px;
    line-height: 1.375;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.35714285714
    }
    @media (min-width: 1240px) {
      width: 349px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 62.21033868%;
    }
  }
  &__items {
    font-size: 16px;
    line-height: 1.1875;
    color: #00000099;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.35714285714
    }
  }
  &__right {
    flex-direction: column;
    display: flex;
    align-items: end;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 32px;
      align-items: unset;
    }
    @media (min-width: 1240px) {
      width: calc-percent(561, 1112);
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 50.449640288%;
    }
  }
  &__copy {
    color: #00000099;
    font-size: 14px;
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }
  &__copy-payment {
    margin-top: 25px;
    margin-bottom: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      margin-top: 16px;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
    }
  }
  &__payment {
    display: flex;
  }
  &__wrap-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #0000001A;
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }
  }
  &__wrap-menu-list {
    width: 72.419354838%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 1240px) {
      gap: 113px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      gap: 13.363028953%;
    }
  }
  &__menu-items-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 26px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.28571428571;
      margin-bottom: 16px;
    }
  }
  &__list-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.reviews {
  display: flex;
  gap: 20px;
  @media (max-width: 768px) {
    gap: 10px;
  }
  &__feedback {
    font-size: 16px;
    line-height: 1.375;
    color: #00000099;
    margin-top: 12px;
    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.42857142857;
      margin-top: 8px;
    }
  }
  &__list {
    overflow: hidden;
    @media (max-width: 768px) {
      padding-left: 4.102564102%;
      padding-right: 4.102564102%;
    }
  }
  &__next-pre {
    display: flex;
    gap: 16px;
    button {
      all: unset;
      display: inline-block;
      cursor: pointer;
    }
  }
  &__header {
    margin-bottom: 40px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      margin-bottom: 24px;
      margin-top: 50px;
    }
  }
  &__item {
    border: 1px solid #0000001A;
    border-radius: 20px;
    min-width: 400px;
    padding: 28px 32px 50px;
    @media (max-width: 768px) {
      padding: 24px!important;
      min-width: auto;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    color: #000000;
    gap: 6px;
    margin-top: 15px;
    @media (max-width: 768px) {
      margin-top: 12px;
    }
  }
  &__title  {
    text-align: left!important;
  }
}
.title {
  text-align: center;
  font-size: 48px;
  line-height: 1.20833333333;
  text-transform: capitalize;
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 1.1875;
  }
}
.checked {
  color: #FFC633;
}